$message-type-map: (
	success: (
		background-color: rgba(236, 247, 234, 1),
		color: $success-color-little,
		icon-color: $success-color,
	),
	danger: (
		background-color: rgba(249, 232, 232, 1),
		color: $danger-color-little,
		icon-color: $danger-color,
	),
	warning: (
		background-color: rgba(253, 245, 237, 1),
		color: $warning-color-little,
		icon-color: $warning-color,
	),
	info: (
		background-color: rgba(239, 237, 237, 1),
		color: $info-color,
		icon-color: $info-color,
	),
);

.v3-message {
	position: fixed;
	left: 50%;
	overflow: hidden;
	box-sizing: border-box;
	width: 376px;
	margin-left: -188px;
	border-radius: $border-radius-width-default;
	word-wrap: break-word;

	@each $key, $value in $message-type-map {
		&.v3-message--#{$key} {
			background-color: map-get($map: $value, $key: background-color);
			color: map-get($map: $value, $key: color);
			.v3-message__icon {
				color: map-get($map: $value, $key: icon-color);
			}
		}
	}

	.v3-message__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $padding-medium;

		.v3-message__icon,
		.v3-message__close {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.v3-message__icon {
			i {
				font-size: $font-size-large-2;
			}
		}

		.v3-message__content {
			width: 100%;
			padding: 0 $padding-medium;
			font-size: $font-size-small;
			&.is-center {
				text-align: center;
			}
		}

		.v3-message__close {
			cursor: pointer;
			i {
				font-size: $font-size-large-2;
			}
		}
	}
}
