.v3-popconfirm {
  :deep(.tippy-box) {
    min-width: 200px;
  }

	.v3-popconfirm-content__text {
    display: flex;
    align-items: center;
		.v3-popconfirm-text__icon {
      margin-right: $margin-small;
			font-size: $font-size-large;
		}
	}
	.v3-popconfirm-content__action {
		display: flex;
		justify-content: flex-end;
    align-items: center;
    margin-top: $margin-large-1;
		& > .v3-button:last-child {
			margin-left: $margin-small;
		}
	}
}
