button {
	appearance: none;
	border: none;
	outline: none;
}

.v3-button {
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	user-select: none;
}

.v3-button--default {
	border: 1px solid $primary-color;
	color: $primary-color;
	background-color: #fff;
}

.v3-button--primary {
	background-color: $primary-color;
	color: #fff;
	border: 1px solid $primary-color;
}

.v3-button--success {
	background-color: $success-color;
	color: #fff;
	border: 1px solid $success-color;
}

.v3-button--danger {
	background-color: $danger-color;
	color: #fff;
	border: 1px solid $danger-color;
}

.v3-button--warning {
	background-color: $warning-color;
	color: #fff;
	border: 1px solid $warning-color;
}
