button {
	appearance: none;
	border: none;
	outline: none;
}

.v3-button {
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	user-select: none;
	transition: all 0.15s ease;
	&:hover {
		opacity: 0.8;
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}
	& > * {
		display: inline-block;
		vertical-align: middle;
	}
	& [class*='v3-icon-'] + span {
		margin-left: 4px;
	}
}

.v3-button--text {
	padding: 0;
	border-radius: 0;
	border-width: 0;
	background-color: #fff;
	color: $primary-color;
}

.v3-button--default {
	border: 1px solid $default-color;
	color: #666;
	background-color: #fff;
	&:hover:not(:disabled) {
		background-color: $primary-color-plain;
		color: $primary-color;
		border-color: $primary-color;
	}
	&.v3-button--active {
		animation: primaryButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		&:hover:not(:disabled) {
			background-color: #fff;
		}
	}
}

.v3-button--primary {
	background-color: $primary-color;
	color: #fff;
	border: 1px solid $primary-color;
	&.v3-button--active {
		animation: primaryButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		background-color: $primary-color-plain;
		color: $primary-color;
		&:hover:not(:disabled) {
			background-color: $primary-color;
			color: #fff;
			border-color: $primary-color;
		}
	}
}

.v3-button--success {
	background-color: $success-color;
	color: #fff;
	border: 1px solid $success-color;
	&.v3-button--active {
		animation: successButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		background-color: $success-color-plain;
		color: $success-color;
		&:hover:not(:disabled) {
			background-color: $success-color;
			color: #fff;
			border-color: $success-color;
		}
	}
}

.v3-button--danger {
	background-color: $danger-color;
	color: #fff;
	border: 1px solid $danger-color;
	&.v3-button--active {
		animation: dangerButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		background-color: $danger-color-plain;
		color: $danger-color;
		&:hover:not(:disabled) {
			background-color: $danger-color;
			color: #fff;
			border-color: $danger-color;
		}
	}
}

.v3-button--warning {
	background-color: $warning-color;
	color: #fff;
	border: 1px solid $warning-color;
	&.v3-button--active {
		animation: warningButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		background-color: $warning-color-plain;
		color: $warning-color;
		&:hover:not(:disabled) {
			background-color: $warning-color;
			color: #fff;
			border-color: $warning-color;
		}
	}
}

.v3-button--info {
	background-color: $info-color;
	color: #fff;
	border: 1px solid $info-color;
	&.v3-button--active {
		animation: infoButtonActive 0.3s ease-out 0s 1;
	}
	&.v3-button--plain {
		background-color: $info-color-plain;
		color: $info-color;
		&:hover:not(:disabled) {
			background-color: $info-color;
			color: #fff;
			border-color: $info-color;
		}
	}
}

$borderType: solid, dashed, dotted, double, groove, outset;

@each $v in $borderType {
	.#{'v3-button__border--' + $v} {
		border-style: $v;
	}
}

@keyframes primaryButtonActive {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 2px 2px rgba(0, 160, 255, 0.3);
	}
	75% {
		box-shadow: 0 0 4px 2px rgba(0, 160, 255, 0.3);
	}
	100% {
		box-shadow: 0 0 10px 2px rgba(0, 160, 255, 0.3);
	}
}
@keyframes successButtonActive {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 2px 2px rgba(99, 185, 49, 0.3);
	}
	75% {
		box-shadow: 0 0 4px 2px rgba(99, 185, 49, 0.3);
	}
	100% {
		box-shadow: 0 0 10px 2px rgba(99, 185, 49, 0.3);
	}
}
@keyframes dangerButtonActive {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 2px 2px rgba(201, 27, 38, 0.3);
	}
	75% {
		box-shadow: 0 0 4px 2px rgba(201, 27, 38, 0.3);
	}
	100% {
		box-shadow: 0 0 10px 2px rgba(201, 27, 38, 0.3);
	}
}
@keyframes warningButtonActive {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 2px 2px rgba(237, 170, 83, 0.3);
	}
	75% {
		box-shadow: 0 0 4px 2px rgba(237, 170, 83, 0.3);
	}
	100% {
		box-shadow: 0 0 10px 2px rgba(237, 170, 83, 0.3);
	}
}
@keyframes infoButtonActive {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 2px 2px rgba(184, 176, 176, 0.3);
	}
	75% {
		box-shadow: 0 0 4px 2px rgba(184, 176, 176, 0.3);
	}
	100% {
		box-shadow: 0 0 10px 2px rgba(184, 176, 176, 0.3);
	}
}
