@keyframes progress-right-rotate {
	0% {
		transform: rotateZ(-45deg);
	}
	100% {
		transform: rotateZ(135deg);
	}
}
@keyframes progress-left-rotate {
	0% {
		transform: rotateZ(-45deg);
	}
	100% {
		transform: rotateZ(135deg);
	}
}

.v3-progress-circular {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--progress-radius) * 2);
	height: calc(var(--progress-radius) * 2);

	.v3-progress__label {
		position: relative;
		z-index: 2;
		color: $font-color-medium;
		i.v3-icon {
			font-size: 24px;
		}
	}

	.v3-progress__section {
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 50%;
		height: 100%;
		.v3-progress-section__inner {
			box-sizing: border-box;
			width: 200%;
			height: 100%;
			border-width: var(--progress-track-width);
			border-color: var(--progress-track-color);
			border-style: solid;
			border-radius: var(--progress-radius);
			transform: rotateZ(-45deg);
		}
	}
	.v3-progress__left {
		left: 0;
		.v3-progress-left__inner {
			border-right-color: var(--progress-done-track-color);
			border-bottom-color: var(--progress-done-track-color);
			animation: progress-left-rotate 0.6s linear 1 both;
		}
	}
	.v3-progress__right {
		right: 0;
		.v3-progress-right__inner {
			margin-left: -100%;
			border-left-color: var(--progress-done-track-color);
			border-top-color: var(--progress-done-track-color);
			animation: progress-right-rotate 0.6s linear 1 both;
		}
	}
}
