body {
	font-size: $font-size-default;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'PingFang SC',
		'Hiragino Sans GB',
		'noto sans',
		'Microsoft YaHei',
		'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.5;
	color: $font-color-default;
	text-rendering: optimizeLegibility;
}

@for $key from 1 to 7 {
	h#{$key} {
		margin: $margin-medium 0;
		font-weight: 800 - $key * 100;
		font-size: 24px - $key * 2;
	}
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.06);
}
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.12);
	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}
}
