.v3-checkbox {
	display: inline-block;
	margin-left: $margin-medium;

	// 禁用状态
	&.v3-checkbox--disabled {
		.v3-checkbox__label-wrapper {
			cursor: not-allowed;
		}
	}

	// 有边框的复选框
	&.v3-checkbox--bordered {
		.v3-checkbox__label-wrapper {
			border: 1px solid $border-color-grey-default;
			border-radius: 6px;
			padding: $padding-small $padding-medium;
		}
	}

	&.v3-checkbox--disabled.v3-checkbox--bordered {
		.v3-checkbox__label-wrapper {
			border-color: $border-color-grey-small;
		}
	}

	&.v3-checkbox--bordered.v3-checkbox--checked:not(.v3-checkbox--disabled) {
		.v3-checkbox__label-wrapper {
			border-color: $primary-color;
		}
	}

	.v3-checkbox__label-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		user-select: none;
		cursor: pointer;
		font-size: $font-size-small;
		color: $font-color-default;

		.v3-checkbox__input {
			display: none;

			&:checked:not(:disabled) {
				& ~ .v3-checkbox__select {
					i {
						color: $primary-color;
					}
				}
				& ~ .v3-checkbox__label {
					color: $primary-color;
				}
			}
			&:disabled {
				& ~ .v3-checkbox__select {
					i {
						color: $border-color-grey-default;
					}
				}
				& ~ .v3-checkbox__label {
					color: $info-color;
				}
			}
		}

		.v3-checkbox__select {
			display: flex;
			align-items: center;
			i {
				font-size: $font-size-large;
				color: $info-color;
				&.v3-checkbox__select--indeterminated {
					color: $primary-color;
				}
			}
		}

		.v3-checkbox__label {
			margin-left: $padding-small;
		}
	}
}
