.v3-input-number {
	// 控制组位于两边
	.v3-number__minus-wrapper,
	.v3-number__plus-wrapper {
		cursor: pointer;
		&:hover {
			color: $primary-color;
		}

		&.v3-number__control--both {
			padding: 0 $padding-small;
		}
	}

	// 控制组位于【左/右】边
	.v3-number__control-wrapper {
		line-height: 1;
		.v3-number__control-plus,
		.v3-number__control-minus {
			padding: 0 $padding-medium;
			cursor: pointer;
			&:hover {
				color: $primary-color;
			}
		}

		.v3-number__control-plus {
			border-bottom: 1px solid $border-color-grey-default;
		}
	}

  // 控制按钮禁用状态
  .v3-number__control--disabled {
    cursor: not-allowed;
    color: $border-color-grey-default;
    &:hover {
      color: $border-color-grey-default;
    }
  }

  & :deep(input) {
    text-align: center;
  }
}
