.v3-select {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	:deep(.tippy-content) {
		padding-left: 0;
		padding-right: 0;
	}
	.v3-select__trigger {
    // 下拉图标的动画
		:deep(.v3-input__suffix i) {
			transition: all 0.3s ease;
			&.is-visible {
				transform: rotateZ(180deg);
			}
		}
	}
	.v3-select-dropdown__item {
		padding: 0 $padding-medium;
		user-select: none;
		line-height: 35px;
		cursor: pointer;
		transition: all 0.15s ease;
		&:not(.is-disabled):hover {
			background-color: $primary-color-plain;
		}

		&.is-disabled {
			color: $info-color-little;
			cursor: not-allowed;
		}

		&.is-disabled.is-selected {
			color: $primary-color-middle;
		}

		&.is-selected:not(.is-disabled) {
			color: $primary-color;
		}
	}
}
