.custom-markdown-container {
	font-size: 14px;
	color: #333;
	line-height: 1.5;
	& > {
		table:not(.vuedoc-demo) {
			width: 100%;
			table-layout: fixed;
			overflow-wrap: break-word;
			thead {
				background-color: #f3f4f5;
			}
		}
		h1:not(.vuedoc-demo) {
			font-size: 26px;
		}
		h2:not(.vuedoc-demo) {
			font-size: 20px;
		}
		h3:not(.vuedoc-demo) {
			font-size: 18px;
		}
		h4:not(.vuedoc-demo) {
			font-size: 16px;
		}
		h5:not(.vuedoc-demo) {
			font-size: 12.8px;
		}
		h6:not(.vuedoc-demo) {
			font-size: 11.2px;
		}
		h1:not(.vuedoc-demo):hover .anchor .octicon-link:before,
		h2:not(.vuedoc-demo):hover .anchor .octicon-link:before,
		h3:not(.vuedoc-demo):hover .anchor .octicon-link:before,
		h4:not(.vuedoc-demo):hover .anchor .octicon-link:before,
		h5:not(.vuedoc-demo):hover .anchor .octicon-link:before,
		h6:not(.vuedoc-demo):hover .anchor .octicon-link:before {
			width: 16px;
			height: 16px;
			content: ' ';
			display: inline-block;
			background-color: currentColor;
			mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
		}
		details:not(.vuedoc-demo),
		figcaption:not(.vuedoc-demo),
		figure:not(.vuedoc-demo) {
			display: block;
		}
		a:not(.vuedoc-demo):active,
		a:not(.vuedoc-demo):hover {
			outline-width: 0;
		}
		b:not(.vuedoc-demo),
		strong:not(.vuedoc-demo) {
			font-weight: 600;
		}
		sub:not(.vuedoc-demo),
		sup:not(.vuedoc-demo) {
			font-size: 75%;
			line-height: 0;
			position: relative;
			vertical-align: baseline;
		}
		code:not(.vuedoc-demo),
		kbd:not(.vuedoc-demo),
		pre:not(.vuedoc-demo),
		samp:not(.vuedoc-demo) {
			font-family: monospace, monospace;
			font-size: 1em;
		}
		:not(.vuedoc-demo)[type='button'],
		:not(.vuedoc-demo)[type='reset'],
		:not(.vuedoc-demo)[type='submit'] {
		}
		:not(.vuedoc-demo)[type='button']::-moz-focus-inner,
		:not(.vuedoc-demo)[type='reset']::-moz-focus-inner,
		:not(.vuedoc-demo)[type='submit']::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
		:not(.vuedoc-demo)[type='button']:-moz-focusring,
		:not(.vuedoc-demo)[type='reset']:-moz-focusring,
		:not(.vuedoc-demo)[type='submit']:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
		:not(.vuedoc-demo)[type='checkbox'],
		:not(.vuedoc-demo)[type='radio'] {
			box-sizing: border-box;
			padding: 0;
		}
		:not(.vuedoc-demo)[type='number']::-webkit-inner-spin-button,
		:not(.vuedoc-demo)[type='number']::-webkit-outer-spin-button {
			height: auto;
		}
		:not(.vuedoc-demo)[type='search']::-webkit-search-cancel-button,
		:not(.vuedoc-demo)[type='search']::-webkit-search-decoration {
		}
		td:not(.vuedoc-demo),
		th:not(.vuedoc-demo) {
			padding: 0;
		}
		h1:not(.vuedoc-demo),
		h2:not(.vuedoc-demo),
		h3:not(.vuedoc-demo),
		h4:not(.vuedoc-demo),
		h5:not(.vuedoc-demo),
		h6:not(.vuedoc-demo) {
			margin-top: 24px;
			margin-bottom: 16px;
			font-weight: 600;
			line-height: 1.25;
			border-bottom: 0;
		}
		ul:not(.vuedoc-demo),
		ol:not(.vuedoc-demo) {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 2em;
		}
		ol:not(.vuedoc-demo) ol,
		ul:not(.vuedoc-demo) ol {
			list-style-type: lower-roman;
		}
		ul:not(.vuedoc-demo) ul ol,
		ul:not(.vuedoc-demo) ol ol,
		ol:not(.vuedoc-demo) ul ol,
		ol:not(.vuedoc-demo) ol ol {
			list-style-type: lower-alpha;
		}
		tt:not(.vuedoc-demo),
		code:not(.vuedoc-demo) {
			font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
				Liberation Mono, monospace;
			font-size: 12px;
		}
		input:not(.vuedoc-demo)::-webkit-outer-spin-button,
		input:not(.vuedoc-demo)::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
		.pl-c1:not(.vuedoc-demo),
		.pl-s:not(.vuedoc-demo) .pl-v {
			color: #0550ae;
		}
		.pl-e:not(.vuedoc-demo),
		.pl-en:not(.vuedoc-demo) {
			color: #8250df;
		}
		.pl-smi:not(.vuedoc-demo),
		.pl-s:not(.vuedoc-demo) .pl-s1 {
			color: #24292f;
		}
		.pl-s:not(.vuedoc-demo),
		.pl-pds:not(.vuedoc-demo),
		.pl-s:not(.vuedoc-demo) .pl-pse .pl-s1,
		.pl-sr:not(.vuedoc-demo),
		.pl-sr:not(.vuedoc-demo) .pl-cce,
		.pl-sr:not(.vuedoc-demo) .pl-sre,
		.pl-sr:not(.vuedoc-demo) .pl-sra {
			color: #0a3069;
		}
		.pl-v:not(.vuedoc-demo),
		.pl-smw:not(.vuedoc-demo) {
			color: #953800;
		}
		.pl-mh:not(.vuedoc-demo),
		.pl-mh:not(.vuedoc-demo) .pl-en,
		.pl-ms:not(.vuedoc-demo) {
			font-weight: bold;
			color: #0550ae;
		}
		p:not(.vuedoc-demo),
		blockquote:not(.vuedoc-demo),
		ul:not(.vuedoc-demo),
		ol:not(.vuedoc-demo),
		dl:not(.vuedoc-demo),
		table:not(.vuedoc-demo),
		pre:not(.vuedoc-demo),
		details:not(.vuedoc-demo) {
			margin-top: 0;
			margin-bottom: 16px;
		}
		h1:not(.vuedoc-demo) .octicon-link,
		h2:not(.vuedoc-demo) .octicon-link,
		h3:not(.vuedoc-demo) .octicon-link,
		h4:not(.vuedoc-demo) .octicon-link,
		h5:not(.vuedoc-demo) .octicon-link,
		h6:not(.vuedoc-demo) .octicon-link {
			color: #24292f;
			vertical-align: middle;
			visibility: hidden;
		}
		h1:not(.vuedoc-demo):hover .anchor,
		h2:not(.vuedoc-demo):hover .anchor,
		h3:not(.vuedoc-demo):hover .anchor,
		h4:not(.vuedoc-demo):hover .anchor,
		h5:not(.vuedoc-demo):hover .anchor,
		h6:not(.vuedoc-demo):hover .anchor {
			text-decoration: none;
		}
		h1:not(.vuedoc-demo):hover .anchor .octicon-link,
		h2:not(.vuedoc-demo):hover .anchor .octicon-link,
		h3:not(.vuedoc-demo):hover .anchor .octicon-link,
		h4:not(.vuedoc-demo):hover .anchor .octicon-link,
		h5:not(.vuedoc-demo):hover .anchor .octicon-link,
		h6:not(.vuedoc-demo):hover .anchor .octicon-link {
			visibility: visible;
		}
		h1:not(.vuedoc-demo) tt,
		h1:not(.vuedoc-demo) code,
		h2:not(.vuedoc-demo) tt,
		h2:not(.vuedoc-demo) code,
		h3:not(.vuedoc-demo) tt,
		h3:not(.vuedoc-demo) code,
		h4:not(.vuedoc-demo) tt,
		h4:not(.vuedoc-demo) code,
		h5:not(.vuedoc-demo) tt,
		h5:not(.vuedoc-demo) code,
		h6:not(.vuedoc-demo) tt,
		h6:not(.vuedoc-demo) code {
			padding: 0 0.2em;
			font-size: inherit;
		}
		ul:not(.vuedoc-demo).no-list,
		ol:not(.vuedoc-demo).no-list {
			padding: 0;
			list-style-type: none;
		}
		ul:not(.vuedoc-demo) ul,
		ul:not(.vuedoc-demo) ol,
		ol:not(.vuedoc-demo) ol,
		ol:not(.vuedoc-demo) ul {
			margin-top: 0;
			margin-bottom: 0;
		}
		table:not(.vuedoc-demo) th,
		table:not(.vuedoc-demo) td {
			padding: 16px;
			border: 1px solid #d0d7de;
		}
		code:not(.vuedoc-demo),
		tt:not(.vuedoc-demo) {
			padding: 0.2em 0.4em;
			margin: 0;
			font-size: 85%;
			background-color: rgba(175, 184, 193, 0.2);
			border-radius: 6px;
		}
		code:not(.vuedoc-demo) br,
		tt:not(.vuedoc-demo) br {
			display: none;
		}
		.highlight:not(.vuedoc-demo) pre,
		pre:not(.vuedoc-demo) {
			box-sizing: border-box;
			overflow: hidden;
			height: 100%;
			margin: 0;
			background-color: #f6f8fa;
			line-height: 1.5;
		}
		pre:not(.vuedoc-demo) code,
		pre:not(.vuedoc-demo) tt {
			display: inline;
			max-width: auto;
			padding: 0;
			margin: 0;
			overflow: visible;
			line-height: inherit;
			word-wrap: normal;
			background-color: transparent;
			border: 0;
		}
		pre:not(.vuedoc-demo) code {
			box-sizing: border-box;
			overflow: hidden;
			display: inline-block;
			height: 100%;
			padding: 16px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		.csv-data:not(.vuedoc-demo) td,
		.csv-data:not(.vuedoc-demo) th {
			padding: 5px;
			overflow: hidden;
			font-size: 12px;
			line-height: 1;
			text-align: left;
			white-space: nowrap;
		}
		// 隐藏锚点
		.markdownIt-Anchor:not(.vuedoc-demo) {
			display: none;
		}
	}
	& > :not(.vuedoc-demo) {
		h1:hover .anchor .octicon-link:before,
		h2:hover .anchor .octicon-link:before,
		h3:hover .anchor .octicon-link:before,
		h4:hover .anchor .octicon-link:before,
		h5:hover .anchor .octicon-link:before,
		h6:hover .anchor .octicon-link:before {
			width: 16px;
			height: 16px;
			content: ' ';
			display: inline-block;
			background-color: currentColor;
			mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
		}
		details,
		figcaption,
		figure {
			display: block;
		}
		a:active,
		a:hover {
			outline-width: 0;
		}
		b,
		strong {
			font-weight: 600;
		}
		sub,
		sup {
			font-size: 75%;
			line-height: 0;
			position: relative;
			vertical-align: baseline;
		}
		code,
		kbd,
		pre,
		samp {
			font-family: monospace, monospace;
			font-size: 1em;
		}
		[type='button'],
		[type='reset'],
		[type='submit'] {
		}
		[type='button']::-moz-focus-inner,
		[type='reset']::-moz-focus-inner,
		[type='submit']::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}
		[type='button']:-moz-focusring,
		[type='reset']:-moz-focusring,
		[type='submit']:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
		[type='checkbox'],
		[type='radio'] {
			box-sizing: border-box;
			padding: 0;
		}
		[type='number']::-webkit-inner-spin-button,
		[type='number']::-webkit-outer-spin-button {
			height: auto;
		}
		[type='search']::-webkit-search-cancel-button,
		[type='search']::-webkit-search-decoration {
		}
		td,
		th {
			padding: 0;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 24px;
			margin-bottom: 16px;
			font-weight: 600;
			line-height: 1.25;
			border-bottom: 0;
		}
		ul,
		ol {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 2em;
		}
		ol ol,
		ul ol {
			list-style-type: lower-roman;
		}
		ul ul ol,
		ul ol ol,
		ol ul ol,
		ol ol ol {
			list-style-type: lower-alpha;
		}
		tt,
		code {
			font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
				Liberation Mono, monospace;
			font-size: 12px;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
		.pl-c1,
		.pl-s .pl-v {
			color: #0550ae;
		}
		.pl-e,
		.pl-en {
			color: #8250df;
		}
		.pl-smi,
		.pl-s .pl-s1 {
			color: #24292f;
		}
		.pl-s,
		.pl-pds,
		.pl-s .pl-pse .pl-s1,
		.pl-sr,
		.pl-sr .pl-cce,
		.pl-sr .pl-sre,
		.pl-sr .pl-sra {
			color: #0a3069;
		}
		.pl-v,
		.pl-smw {
			color: #953800;
		}
		.pl-mh,
		.pl-mh .pl-en,
		.pl-ms {
			font-weight: bold;
			color: #0550ae;
		}
		p,
		blockquote,
		ul,
		ol,
		dl,
		table,
		pre,
		details {
			margin-top: 0;
			margin-bottom: 16px;
		}
		h1 .octicon-link,
		h2 .octicon-link,
		h3 .octicon-link,
		h4 .octicon-link,
		h5 .octicon-link,
		h6 .octicon-link {
			color: #24292f;
			vertical-align: middle;
			visibility: hidden;
		}
		h1:hover .anchor,
		h2:hover .anchor,
		h3:hover .anchor,
		h4:hover .anchor,
		h5:hover .anchor,
		h6:hover .anchor {
			text-decoration: none;
		}
		h1:hover .anchor .octicon-link,
		h2:hover .anchor .octicon-link,
		h3:hover .anchor .octicon-link,
		h4:hover .anchor .octicon-link,
		h5:hover .anchor .octicon-link,
		h6:hover .anchor .octicon-link {
			visibility: visible;
		}
		h1 tt,
		h1 code,
		h2 tt,
		h2 code,
		h3 tt,
		h3 code,
		h4 tt,
		h4 code,
		h5 tt,
		h5 code,
		h6 tt,
		h6 code {
			padding: 0 0.2em;
			font-size: inherit;
		}
		ul.no-list,
		ol.no-list {
			padding: 0;
			list-style-type: none;
		}
		ul ul,
		ul ol,
		ol ol,
		ol ul {
			margin-top: 0;
			margin-bottom: 0;
		}
		table th,
		table td {
			padding: 16px;
			border: 1px solid #d0d7de;
		}
		code,
		tt {
			padding: 0.2em 0.4em;
			margin: 0;
			font-size: 85%;
			background-color: rgba(175, 184, 193, 0.2);
			border-radius: 6px;
		}
		code br,
		tt br {
			display: none;
		}
		.highlight pre,
		pre {
			box-sizing: border-box;
			overflow: hidden;
			height: 100%;
			margin: 0;
			background-color: #f6f8fa;
			line-height: 1.5;
		}
		pre code,
		pre tt {
			display: inline;
			max-width: auto;
			padding: 0;
			margin: 0;
			overflow: visible;
			line-height: inherit;
			word-wrap: normal;
			background-color: transparent;
			border: 0;
		}
		pre code {
			box-sizing: border-box;
			overflow: hidden;
			display: inline-block;
			height: 100%;
			padding: 16px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		.csv-data td,
		.csv-data th {
			padding: 5px;
			overflow: hidden;
			font-size: 12px;
			line-height: 1;
			text-align: left;
			white-space: nowrap;
		}

		// 隐藏锚点
		.markdownIt-Anchor {
			display: none;
		}
	}
}
