.custom-markdown-wrapper {
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
  }
  summary {
    display: list-item;
  }
  [hidden] {
    display: none !important;
  }
  a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid hsla(210,18%,87%,1);
  }
  mark {
    background-color: #fff8c5;
    color: #24292f;
  }
  small {
    font-size: 90%;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
    & > a {
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }
  img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #ffffff;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid hsla(210,18%,87%,1);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #d0d7de;
    border: 0;
    &::before {
      display: table;
      content: "";
    }
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }
  input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  [type=search] {
    outline-offset: -2px;
  }
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
  }
  ::-webkit-file-upload-button {
    font: inherit;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    th {
      font-weight: 600;
    }
    tr {
      background-color: #ffffff;
      border-top: 1px solid hsla(210,18%,87%,1);
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
    img {
      background-color: transparent;
    }
  }
  details {
    summary {
      cursor: pointer;
    }
    &:not([open]) {
      & > *:not(summary) {
        display: none !important;
      }
    }
  }
  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    line-height: 10px;
    color: #24292f;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: solid 1px rgba(175,184,193,0.2);
    border-bottom-color: rgba(175,184,193,0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
  }
  h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid hsla(210,18%,87%,1);
  }
  h3 {
    font-weight: 600;
    font-size: 1.25em;
  }
  h4 {
    font-weight: 600;
    font-size: 1em;
  }
  h5 {
    font-weight: 600;
    font-size: .875em;
  }
  h6 {
    font-weight: 600;
    font-size: .85em;
    color: #57606a;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: .25em solid #d0d7de;
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
  dd {
    margin-left: 0;
  }
  pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
    word-wrap: normal;
    code {
      font-size: 100%;
    }
    & > code {
      padding: 0;
      margin: 0;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }
  ::placeholder {
    color: #6e7781;
    opacity: 1;
  }
  .pl-c {
    color: #6e7781;
  }
  .pl-ent {
    color: #116329;
  }
  .pl-k {
    color: #cf222e;
  }
  .pl-bu {
    color: #82071e;
  }
  .pl-ii {
    color: #f6f8fa;
    background-color: #82071e;
  }
  .pl-c2 {
    color: #f6f8fa;
    background-color: #cf222e;
  }
  .pl-sr {
    .pl-cce {
      font-weight: bold;
      color: #116329;
    }
  }
  .pl-ml {
    color: #3b2300;
  }
  .pl-mi {
    font-style: italic;
    color: #24292f;
  }
  .pl-mb {
    font-weight: bold;
    color: #24292f;
  }
  .pl-md {
    color: #82071e;
    background-color: #ffebe9;
  }
  .pl-mi1 {
    color: #116329;
    background-color: #dafbe1;
  }
  .pl-mc {
    color: #953800;
    background-color: #ffd8b5;
  }
  .pl-mi2 {
    color: #eaeef2;
    background-color: #0550ae;
  }
  .pl-mdr {
    font-weight: bold;
    color: #8250df;
  }
  .pl-ba {
    color: #57606a;
  }
  .pl-sg {
    color: #8c959f;
  }
  .pl-corl {
    text-decoration: underline;
    color: #0a3069;
  }
  [data-catalyst] {
    display: block;
  }
  g-emoji {
    font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
    img {
      width: 1em;
      height: 1em;
    }
  }
  &::before {
    display: table;
    content: "";
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  & > *:first-child {
    margin-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }
  .absent {
    color: #cf222e;
  }
  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
    &:focus {
      outline: none;
    }
  }
  ol[type="1"] {
    list-style-type: decimal;
  }
  ol[type=a] {
    list-style-type: lower-alpha;
  }
  ol[type=i] {
    list-style-type: lower-roman;
  }
  div {
    & > ol {
      &:not([type]) {
        list-style-type: decimal;
      }
    }
  }
  li {
    & > p {
      margin-top: 16px;
    }
    & + li {
      margin-top: .25em;
    }
  }
  dl {
    padding: 0;
    dt {
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
    }
    dd {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }
  img[align=right] {
    padding-left: 20px;
  }
  img[align=left] {
    padding-right: 20px;
  }
  .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
  }
  span {
    &.frame {
      display: block;
      overflow: hidden;
      & > span {
        display: block;
        float: left;
        width: auto;
        padding: 7px;
        margin: 13px 0 0;
        overflow: hidden;
        border: 1px solid #d0d7de;
      }
      span {
        img {
          display: block;
          float: left;
        }
        span {
          display: block;
          padding: 5px 0 0;
          clear: both;
          color: #24292f;
        }
      }
    }
    &.align-center {
      display: block;
      overflow: hidden;
      clear: both;
      & > span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: center;
      }
      span {
        img {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    &.align-right {
      display: block;
      overflow: hidden;
      clear: both;
      & > span {
        display: block;
        margin: 13px 0 0;
        overflow: hidden;
        text-align: right;
      }
      span {
        img {
          margin: 0;
          text-align: right;
        }
      }
    }
    &.float-left {
      display: block;
      float: left;
      margin-right: 13px;
      overflow: hidden;
      span {
        margin: 13px 0 0;
      }
    }
    &.float-right {
      display: block;
      float: right;
      margin-left: 13px;
      overflow: hidden;
      & > span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: right;
      }
    }
  }
  del {
    code {
      text-decoration: inherit;
    }
  }
  .highlight {
    margin-bottom: 16px;
    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }
  .csv-data {
    .blob-num {
      padding: 10px 8px 9px;
      text-align: right;
      background: #ffffff;
      border: 0;
    }
    tr {
      border-top: 0;
    }
    th {
      font-weight: 600;
      background: #f6f8fa;
      border-top: 0;
    }
  }
  .footnotes {
    font-size: 12px;
    color: #57606a;
    border-top: 1px solid #d0d7de;
    ol {
      padding-left: 16px;
    }
    li {
      position: relative;
      &:target {
        color: #24292f;
        &::before {
          position: absolute;
          top: -8px;
          right: -8px;
          bottom: -8px;
          left: -24px;
          pointer-events: none;
          content: "";
          border: 2px solid #0969da;
          border-radius: 6px;
        }
      }
    }
    .data-footnote-backref {
      g-emoji {
        font-family: monospace;
      }
    }
  }
  .task-list-item {
    list-style-type: none;
    label {
      font-weight: 400;
    }
    &.enabled {
      label {
        cursor: pointer;
      }
    }
    & + .task-list-item {
      margin-top: 3px;
    }
    .handle {
      display: none;
    }
  }
  .task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
  }
  .contains-task-list {
    &:dir(rtl) {
      .task-list-item-checkbox {
        margin: 0 -1.6em .25em .2em;
      }
    }
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
  }
}
.custom-markdown-wrapper h1:hover .anchor .octicon-link:before,
.custom-markdown-wrapper h2:hover .anchor .octicon-link:before,
.custom-markdown-wrapper h3:hover .anchor .octicon-link:before,
.custom-markdown-wrapper h4:hover .anchor .octicon-link:before,
.custom-markdown-wrapper h5:hover .anchor .octicon-link:before,
.custom-markdown-wrapper h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}
.custom-markdown-wrapper details,
.custom-markdown-wrapper figcaption,
.custom-markdown-wrapper figure {
  display: block;
}
.custom-markdown-wrapper a:active,
.custom-markdown-wrapper a:hover {
  outline-width: 0;
}
.custom-markdown-wrapper b,
.custom-markdown-wrapper strong {
  font-weight: 600;
}
.custom-markdown-wrapper sub,
.custom-markdown-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.custom-markdown-wrapper code,
.custom-markdown-wrapper kbd,
.custom-markdown-wrapper pre,
.custom-markdown-wrapper samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
.custom-markdown-wrapper [type=button],
.custom-markdown-wrapper [type=reset],
.custom-markdown-wrapper [type=submit] {
}
.custom-markdown-wrapper [type=button]::-moz-focus-inner,
.custom-markdown-wrapper [type=reset]::-moz-focus-inner,
.custom-markdown-wrapper [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.custom-markdown-wrapper [type=button]:-moz-focusring,
.custom-markdown-wrapper [type=reset]:-moz-focusring,
.custom-markdown-wrapper [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.custom-markdown-wrapper [type=checkbox],
.custom-markdown-wrapper [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.custom-markdown-wrapper [type=number]::-webkit-inner-spin-button,
.custom-markdown-wrapper [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.custom-markdown-wrapper [type=search]::-webkit-search-cancel-button,
.custom-markdown-wrapper [type=search]::-webkit-search-decoration {
}
.custom-markdown-wrapper td,
.custom-markdown-wrapper th {
  padding: 0;
}
.custom-markdown-wrapper h1,
.custom-markdown-wrapper h2,
.custom-markdown-wrapper h3,
.custom-markdown-wrapper h4,
.custom-markdown-wrapper h5,
.custom-markdown-wrapper h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.custom-markdown-wrapper ul,
.custom-markdown-wrapper ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
.custom-markdown-wrapper ol ol,
.custom-markdown-wrapper ul ol {
  list-style-type: lower-roman;
}
.custom-markdown-wrapper ul ul ol,
.custom-markdown-wrapper ul ol ol,
.custom-markdown-wrapper ol ul ol,
.custom-markdown-wrapper ol ol ol {
  list-style-type: lower-alpha;
}
.custom-markdown-wrapper tt,
.custom-markdown-wrapper code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}
.custom-markdown-wrapper input::-webkit-outer-spin-button,
.custom-markdown-wrapper input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
.custom-markdown-wrapper .pl-c1,
.custom-markdown-wrapper .pl-s .pl-v {
  color: #0550ae;
}
.custom-markdown-wrapper .pl-e,
.custom-markdown-wrapper .pl-en {
  color: #8250df;
}
.custom-markdown-wrapper .pl-smi,
.custom-markdown-wrapper .pl-s .pl-s1 {
  color: #24292f;
}
.custom-markdown-wrapper .pl-s,
.custom-markdown-wrapper .pl-pds,
.custom-markdown-wrapper .pl-s .pl-pse .pl-s1,
.custom-markdown-wrapper .pl-sr,
.custom-markdown-wrapper .pl-sr .pl-cce,
.custom-markdown-wrapper .pl-sr .pl-sre,
.custom-markdown-wrapper .pl-sr .pl-sra {
  color: #0a3069;
}
.custom-markdown-wrapper .pl-v,
.custom-markdown-wrapper .pl-smw {
  color: #953800;
}
.custom-markdown-wrapper .pl-mh,
.custom-markdown-wrapper .pl-mh .pl-en,
.custom-markdown-wrapper .pl-ms {
  font-weight: bold;
  color: #0550ae;
}
.custom-markdown-wrapper p,
.custom-markdown-wrapper blockquote,
.custom-markdown-wrapper ul,
.custom-markdown-wrapper ol,
.custom-markdown-wrapper dl,
.custom-markdown-wrapper table,
.custom-markdown-wrapper pre,
.custom-markdown-wrapper details {
  margin-top: 0;
  margin-bottom: 16px;
}
.custom-markdown-wrapper h1 .octicon-link,
.custom-markdown-wrapper h2 .octicon-link,
.custom-markdown-wrapper h3 .octicon-link,
.custom-markdown-wrapper h4 .octicon-link,
.custom-markdown-wrapper h5 .octicon-link,
.custom-markdown-wrapper h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}
.custom-markdown-wrapper h1:hover .anchor,
.custom-markdown-wrapper h2:hover .anchor,
.custom-markdown-wrapper h3:hover .anchor,
.custom-markdown-wrapper h4:hover .anchor,
.custom-markdown-wrapper h5:hover .anchor,
.custom-markdown-wrapper h6:hover .anchor {
  text-decoration: none;
}
.custom-markdown-wrapper h1:hover .anchor .octicon-link,
.custom-markdown-wrapper h2:hover .anchor .octicon-link,
.custom-markdown-wrapper h3:hover .anchor .octicon-link,
.custom-markdown-wrapper h4:hover .anchor .octicon-link,
.custom-markdown-wrapper h5:hover .anchor .octicon-link,
.custom-markdown-wrapper h6:hover .anchor .octicon-link {
  visibility: visible;
}
.custom-markdown-wrapper h1 tt,
.custom-markdown-wrapper h1 code,
.custom-markdown-wrapper h2 tt,
.custom-markdown-wrapper h2 code,
.custom-markdown-wrapper h3 tt,
.custom-markdown-wrapper h3 code,
.custom-markdown-wrapper h4 tt,
.custom-markdown-wrapper h4 code,
.custom-markdown-wrapper h5 tt,
.custom-markdown-wrapper h5 code,
.custom-markdown-wrapper h6 tt,
.custom-markdown-wrapper h6 code {
  padding: 0 .2em;
  font-size: inherit;
}
.custom-markdown-wrapper ul.no-list,
.custom-markdown-wrapper ol.no-list {
  padding: 0;
  list-style-type: none;
}
.custom-markdown-wrapper ul ul,
.custom-markdown-wrapper ul ol,
.custom-markdown-wrapper ol ol,
.custom-markdown-wrapper ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.custom-markdown-wrapper table th,
.custom-markdown-wrapper table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.custom-markdown-wrapper code,
.custom-markdown-wrapper tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}
.custom-markdown-wrapper code br,
.custom-markdown-wrapper tt br {
  display: none;
}
.custom-markdown-wrapper .highlight pre,
.custom-markdown-wrapper pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}
.custom-markdown-wrapper pre code,
.custom-markdown-wrapper pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.custom-markdown-wrapper .csv-data td,
.custom-markdown-wrapper .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
