.v3-message-slide-fade-enter-active {
	transition: all 0.3s ease-out;
}

.v3-message-slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.v3-message-slide-fade-enter-from,
.v3-message-slide-fade-leave-to {
	transform: translateX(50%);
	opacity: 0;
}
