.v3-message-slide-fade-enter-active {
	transition: all 0.3s ease-out;
}
.v3-message-slide-fade-leave-active {
	transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}
.v3-message-slide-fade-enter-from,
.v3-message-slide-fade-leave-to {
	transform: translateX(50%);
	opacity: 0;
}

.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'] {
	opacity: 0;
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='top'] {
	transform: translateY(-20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='bottom'] {
	transform: translateY(20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='left'] {
	transform: translateX(-20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='right'] {
	transform: translateX(20px);
}

.v3-tag-shrink-enter-from,
.v3-tag-shrink-leave-to {
	transform: scale(0);
}
.v3-tag-shrink-enter-active {
	transition: all 0.3s ease;
}
.v3-tag-shrink-enter-to,
.v3-tag-shrink-leave-from {
	transform: scale(1);
}
.v3-tag-shrink-leave-active {
	transition: all 0.3s ease;
}

.v3-backdrop-fade-enter-from {
	opacity: 0;
}
.v3-backdrop-fade-enter-active,
.v3-backdrop-fade-leave-active {
	transition: opacity 0.15s ease-out;
}
.v3-backdrop-fade-enter-to,
.v3-backdrop-fade-leave-from {
	opacity: 1;
}
.v3-backdrop-fade-leave-to {
	opacity: 0;
}

.v3-dialog-translate-enter-from {
	transform: translateY(-30px);
}
.v3-dialog-translate-enter-active,
.v3-dialog-translate-leave-active {
	transition: transform 0.3s ease-out;
}
.v3-dialog-translate-enter-to,
.v3-dialog-translate-leave-from {
	transform: translateY(0);
}
.v3-dialog-translate-leave-to {
	transform: translateY(-30px);
}

/*
	V3Carousel
*/
.v3-carousel-item-horizontal-slide-next-enter-from {
	transform: translateX(100%);
}
.v3-carousel-item-horizontal-slide-next-enter-active,
.v3-carousel-item-horizontal-slide-next-leave-active {
	transition-property: transform;
}
.v3-carousel-item-horizontal-slide-next-enter-to,
.v3-carousel-item-horizontal-slide-next-leave-from {
	transform: translateX(0);
}
.v3-carousel-item-horizontal-slide-next-leave-to {
	transform: translateX(-100%);
}

.v3-carousel-item-horizontal-slide-prev-enter-from {
	transform: translateX(-100%);
}
.v3-carousel-item-horizontal-slide-prev-enter-active,
.v3-carousel-item-horizontal-slide-prev-leave-active {
	transition-property: transform;
}
.v3-carousel-item-horizontal-slide-prev-enter-to,
.v3-carousel-item-horizontal-slide-prev-leave-from {
	transform: translateX(0);
}
.v3-carousel-item-horizontal-slide-prev-leave-to {
	transform: translateX(100%);
}

.v3-carousel-item-vertical-slide-next-enter-from {
	transform: translateY(100%);
}
.v3-carousel-item-vertical-slide-next-enter-active,
.v3-carousel-item-vertical-slide-next-leave-active {
	transition-property: transform;
}
.v3-carousel-item-vertical-slide-next-enter-to,
.v3-carousel-item-vertical-slide-next-leave-from {
	transform: translateY(0);
}
.v3-carousel-item-vertical-slide-next-leave-to {
	transform: translateY(-100%);
}

.v3-carousel-item-vertical-slide-prev-enter-from {
	transform: translateY(-100%);
}
.v3-carousel-item-vertical-slide-prev-enter-active,
.v3-carousel-item-vertical-slide-prev-leave-active {
	transition-property: transform;
}
.v3-carousel-item-vertical-slide-prev-enter-to,
.v3-carousel-item-vertical-slide-prev-leave-from {
	transform: translateY(0);
}
.v3-carousel-item-vertical-slide-prev-leave-to {
	transform: translateY(100%);
}

.v3-carousel-item-fade-enter-from {
	opacity: 0;
}
.v3-carousel-item-fade-enter-active,
.v3-carousel-item-fade-leave-active {
	transition-property: opacity;
}
.v3-carousel-item-fade-enter-to,
.v3-carousel-item-fade-leave-from {
	opacity: 1;
}
.v3-carousel-item-fade-leave-to {
	opacity: 0;
}

$drawer-placement-translation: (
	top: (
		enter-from: (
			transform: translateY(-100%),
		),
		enter-active: (
			transition: transform 0.2s linear,
		),
		enter-to: (
			transform: translateY(0),
		),
		leave-from: (
			transform: translateY(0),
		),
		leave-active: (
			transition: transform 0.5s linear,
		),
		leave-to: (
			transform: translateY(-100%),
		),
	),
	bottom: (
		enter-from: (
			transform: translateY(100%),
		),
		enter-active: (
			transition: transform 0.2s linear,
		),
		enter-to: (
			transform: translateY(0),
		),
		leave-from: (
			transform: translateY(0),
		),
		leave-active: (
			transition: transform 0.5s linear,
		),
		leave-to: (
			transform: translateY(100%),
		),
	),
	left: (
		enter-from: (
			transform: translate3d(-100%, 0, 0),
		),
		enter-active: (
			transition: transform 0.2s linear,
		),
		enter-to: (
			transform: translate3d(0, 0, 0),
		),
		leave-from: (
			transform: translate3d(0, 0, 0),
		),
		leave-active: (
			transition: transform 0.5s linear,
		),
		leave-to: (
			transform: translate3d(-100%, 0, 0),
		),
	),
	right: (
		enter-from: (
			transform: translate3d(100%, 0, 0),
		),
		enter-active: (
			transition: transform 0.2s linear,
		),
		enter-to: (
			transform: translate3d(0, 0, 0),
		),
		leave-from: (
			transform: translate3d(0, 0, 0),
		),
		leave-active: (
			transition: transform 0.5s linear,
		),
		leave-to: (
			transform: translate3d(100%, 0, 0),
		),
	),
);
@each $key1, $value1 in $drawer-placement-translation {
	@each $key2, $value2 in $value1 {
		.v3-drawer-translate-#{$key1}-#{$key2} {
			@if map-has-key($map: $value2, $key: transition) {
				transition: map-get($map: $value2, $key: transition);
			}
			@if map-has-key($map: $value2, $key: transform) {
				transform: map-get($map: $value2, $key: transform);
			}
		}
	}
}

.v3-back-fade-enter-from {
	opacity: 0;
}
.v3-back-fade-enter-active,
.v3-back-fade-leave-active {
	transition: opacity .15s ease;
}
.v3-back-fade-enter-to,
.v3-back-fade-leave-from {
	opacity: 1;
}
.v3-back-fade-leave-to {
	opacity: 0;
}
