.v3-message-slide-fade-enter-active {
	transition: all 0.3s ease-out;
}
.v3-message-slide-fade-leave-active {
	transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}
.v3-message-slide-fade-enter-from,
.v3-message-slide-fade-leave-to {
	transform: translateX(50%);
	opacity: 0;
}

.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'] {
	opacity: 0;
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='top'] {
	transform: translateY(-20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='bottom'] {
	transform: translateY(20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='left'] {
	transform: translateX(-20px);
}
.tippy-box[data-animation='v3-popper-slide-fade'][data-state='hidden'][data-placement^='right'] {
	transform: translateX(20px);
}

.v3-tag-shrink-enter-from,
.v3-tag-shrink-leave-to {
	transform: scale(0);
}
.v3-tag-shrink-enter-active {
	transition: all 0.3s ease;
}
.v3-tag-shrink-enter-to,
.v3-tag-shrink-leave-from {
	transform: scale(1);
}
.v3-tag-shrink-leave-active {
	transition: all 0.3s ease;
}

.v3-backdrop-fade-enter-from {
	opacity: 0;
}
.v3-backdrop-fade-enter-active,
.v3-backdrop-fade-leave-active {
	transition: opacity 0.15s ease-out;
}
.v3-backdrop-fade-enter-to,
.v3-backdrop-fade-leave-from {
	opacity: 1;
}
.v3-backdrop-fade-leave-to {
	opacity: 0;
}

.v3-dialog-translate-enter-from {
	transform: translateY(-30px);
}
.v3-dialog-translate-enter-active,
.v3-dialog-translate-leave-active {
	transition: transform 0.3s ease-out;
}
.v3-dialog-translate-enter-to,
.v3-dialog-translate-leave-from {
	transform: translateY(0);
}
.v3-dialog-translate-leave-to {
	transform: translateY(-30px);
}
