$primary-color: rgba(0, 160, 255, 1);
$success-color: rgba(99, 185, 49, 1);
$danger-color: rgba(201, 27, 38, 1);
$warning-color: rgba(227, 160, 73, 1);
$info-color: rgba(174, 166, 166, 1);

$primary-color-medium: rgba(101, 200, 251, 1);
$success-color-medium: rgba(163, 215, 145, 1);
$danger-color-medium: rgba(231, 130, 136, 1);
$warning-color-medium: rgba(249, 206, 162, 1);
$info-color-medium: rgba(214, 209, 210, 1);

$primary-color-plain: rgba(223, 243, 254, 1);
$success-color-plain: rgba(236, 247, 232, 1);
$danger-color-plain: rgba(250, 228, 229, 1);
$warning-color-plain: rgba(253, 244, 234, 1);
$info-color-plain: rgba(233, 233, 233, 1);

$border-color-small: #eee;
$border-color-default: #ddd;
$border-color-large: #cdcdcd;

$font-color-small: #666;
$font-color-default: #333333;

$disable-font-color: #a8abb2;
$disable-bg-color: #f5f7fa;
$disable-border-color: #e4e7ed;

$font-size-small: 12px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-large-2: 20px;

$line-height-default: 1.2;

$border-radius-width-small: 4px;
$border-radius-width-default: 6px;
$border-radius-width-large: 30px;

$padding-small: 8px;
$padding-medium: 12px;
$padding-large-1: 16px;
$padding-large-2: 20px;

$margin-small: 8px;
$margin-medium: 12px;
$margin-large-1: 16px;
$margin-large-2: 20px;

$box-shadow-small:
	2px 0 5px 0 rgba(238, 238, 238, 0.5),
	0 4px 10px 0 rgba(238, 238, 238, 0.5),
	-2px 0 5px 0 rgba(238, 238, 238, 0.5);
$box-shadow-default:
	2px 0 10px 0 rgba(238, 238, 238, 0.5),
	0 7px 11px 0 rgba(238, 238, 238, 0.5),
	-2px 0 10px 0 rgba(238, 238, 238, 0.5);
$box-shadow-large:
	6px 0 10px 0 rgba(238, 238, 238, 0.8),
	0 10px 13px 0 rgba(238, 238, 238, 0.6),
	-6px 0 10px 0 rgba(238, 238, 238, 0.6);
