.v3-demo-block {
	border: 1px solid $border-color-grey-small;
	border-radius: $border-radius-width-default;
	font-size: $font-size-small;
	color: $font-color-default;
	transition: all 0.15s ease;
	&:hover {
		box-shadow: 0 0 4px 4px $box-shadow-color-default;
	}

	.v3-demo-block__common {
		&:not(:first-child) {
			border-top: 1px solid $border-color-grey-small;
		}
	}
	.v3-demo-block__view {
		padding: $padding-medium;
	}
	.v3-demo-block__description {
		padding: $padding-medium;
		.description__tip {
			display: inline-block;
			transform: translate(0, -100%);
			padding: 0 $padding-small;
			color: $font-color-default;
			background-color: #fff;
			line-height: 1.5;
		}
	}
	.v3-demo-block__detail {
		overflow: hidden;
		padding: 0 $padding-medium;
		transition: height 0.5s ease;
	}
	.v3-demo-block__functional {
		display: flex;
		padding: $padding-small $padding-medium;
		background-color: $box-shadow-color-default;
		user-select: none;
		.functional__expand,
		.functional__extra {
			flex: 1;
		}
		.functional__expand {
			text-align: right;
			color: $primary-color;
			span {
				cursor: pointer;
			}
		}
		.functional__extra {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.functional-extra__item {
				cursor: pointer;
				&:not(:first-child) {
					margin-left: $margin-medium;
				}
				&:hover {
					color: $primary-color;
				}
				i {
					font-size: $font-size-large;
				}
			}
		}
	}
}
