.v3-carousel {
	overflow: hidden;
	position: relative;

	.v3-carousel__list {
		position: relative;
		height: 100%;
		& :deep(.v3-carousel__item) {
			position: absolute;
		}
	}

	.v3-carousel__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition-property: left, right;
		transition-duration: .3s;
		transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
		cursor: pointer;
		user-select: none;
		&.is-left {
			left: -60px;
		}
		&.is-right {
			right: -60px;
		}
		&.is-show {
			&.is-left {
				left: 20px;
			}
			&.is-right {
				right: 20px;
			}
		}
		.v3-carousel-arrow__inner {
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translate3d(0, 0, 0);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.6);
		}
		i {
			font-size: 24px;
			color: #fff;
		}
	}
}
