.v3-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: $font-size-small;
	color: $primary-color;
	background-color: rgba(255, 255, 255, 0.8);

	&.is-fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.v3-loading__spinning {
		i.v3-icon {
			display: block;
			font-size: $font-size-large-2 * 1.5;
			animation: loadingRotate 1s linear infinite;
		}
	}
}

@keyframes loadingRotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
