.v3-slider {
	width: 100%;
	display: flex;
	align-items: center;

	.v3-slider__prepend,
	.v3-slider__append {
		color: $font-color-medium;
		i.v3-icon {
			font-size: 24px;
		}
	}

	.v3-slider__prepend {
	}
	.v3-slider__track {
		flex: 1;
		margin: 0 $margin-medium;
		padding: $padding-small 0;
		cursor: pointer;
		.v3-slider-track__inner {
			position: relative;
			height: 4px;
			background-color: $border-color-grey-default;
		}
		.v3-slider-track__done {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 0;
			background-color: $primary-color;
		}
		.v3-slider-track__thumb {
			position: absolute;
			left: 0;
			top: 50%;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background-color: $primary-color;
			transform: translate(0, -50%);
			cursor: grab;
			transition: box-shadow 0.15s ease;
      user-select: none;
			&:hover {
				box-shadow: 0 0 0 12px rgba(0, 170, 250, 0.3);
			}

			&::after {
				content: '';
				position: absolute;
				width: 40px;
				height: 40px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.v3-slider__append {
	}
}
