.v3-base-popper {
	:deep(.tippy-box) {
		border-radius: $border-radius-width-small;
		&[data-theme~='light'] {
			color: $font-color-default;
		}
		&[data-theme~='material'] {
			color: #fff;
		}
	}
	:deep(.tippy-content) {
		.v3-base-popper__dropdown {
			padding: $padding-small + 4 $padding-medium;
			font-size: $font-size-small;
			.v3-popper-dropdown__title {
				margin-bottom: $margin-medium;
				h3 {
					margin: 0;
					font-size: $font-size-normal;
				}
			}
		}
	}
}
